.table__head {
  height: 50px;

  @media screen and (max-width: 800px) {
    height: 45px;
  }

  th {
    @media screen and (max-width: 800px) {
      font-size: 14px;
      line-height: 20px;
    }
    @media screen and (max-width: 370px) {
      padding: 2px;
      font-size: 12px;
    }
  }
}
